 .jumbotron {
     background-image: url(img/bkgimg.jpg);
     background-repeat: no-repeat;
     background-size: 100% auto;
     min-height: max-content;
     height: 600px;
 }
 
 #Rezepte {
     display: flex;
     grid-template-columns: 25% 25% 25% 25%;
     grid-auto-rows: 1fr;
 }
 
 h1 {
     font-family: 'Lobster', cursive, serif;
 }
 
 body,
 header {
     background-color: #DDD;
 }